[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
matplotlib = "*"
tensorflow = "*"
keras = "*"
sklearn = "*"
pandas = "*"
pytest = "*"
pylint = "*"
beautifulsoup4 = "*"
seaborn = "*"
requests = "*"
jupyter = "*"
jupyterlab = "*"
rope = "*"
lxml = "*"
html5lib = "*"
numpy = "*"
json = "*"
nltk = "*"

[requires]
python_version = "3.7.5"
